<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Leander, TX</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1-346-332-6294 </span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:nancie151@gmail.com">nancie151@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/nancyluongg/">linkedin.com/in/nancyluongg</a></li>
    <li><span class="li-icon">{% include svg/github.svg %}</span><a href="https://github.com/nancie151">github.com/nancie151</a></li>
  </ul>
</div>
